/* jepriashowcase stylesheet */

.jepRiaShowcase-searchResult {
  padding: 5px 5px 5px 5px;
}

.jepRiaShowcase-searchItem td{
  background-color: #f6f6f6;
  border-bottom: 10px solid white;  
  padding: 10px 10px 10px 10px;
}

.jepRiaShowcase-imageColumn {
  width: 110px;
}

.jepRiaShowcase-imageColumn img {
  width: 100px;
  height: 100px;
  border: 1px solid #e0e0e0;
}

.jepRiaShowcase-nameColumn {
  text-align: left;
  vertical-align: top;
}

.jepRiaShowcase-priceColumn {
  width: 100px;
  text-align: center;
  vertical-align: top;
}

.jepRiaShowcase-buttonColumn {
  width: 100px;
  text-align: right;
  vertical-align: top;
}

.boldButton {
  font-weight: bold !important;
}