/* нужно быть аккуратнее с миксами */

.toolbar {
  height: 22px;
  padding: 2px;
  border: 1px solid black; /* стандартный цвет */
}

.toolbar__button-list{
  height: 100%;
}

.toolbar__button {
  height: 100%;
  padding: 1px;
  float: left;
}


.toolbar__button:hover {
  border: solid 1px #99BBE8;
  background: #DDEFFF;
}

.toobar__separator {
  height: 100%;
  width: 2px;
  margin: 0 2px;
  background: url(grid-blue-split.gif);
  background-repeat: repeat;
  float: left;
}

.toolbar_theme_blue {
  border-color: #99BBE8;
  background-color: #D0DEF0;
  background-image: url(bg.gif);
  background-position: 0 5%;
}

